@media (max-width: 575.98px) {
    .title .left_div h1{
        font-size: 2rem;
        letter-spacing: 10px;
    }

    .book_image{
        width: 200px;
        margin-top: 30px;
    }

    #subscribe{
        padding: 40px 0;
    }
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {

}